body{
    background-image: url(../img/picture1.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}
.align-center{
    text-align: center;
}
.containerlogin{
    width: 370px;

    margin-top: 200px;
    margin-left: 500px;
    background-color: rgba(218, 184, 184, 0.3);
    border-radius: 50px;
    
}

input{
    border-radius: 10px;
}

